<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Registration</title>
</head>

<body>
<header layout:fragment="header">
    <h1>Study Rooms <small>/ Registration</small></h1>
</header>

<section layout:fragment="main">

    <form th:action="@{/register}" method="POST" th:object="${createPersonRequest}">
        <!-- ERROR MESSAGE -->
        <div class="text-center mb-3" th:if="${errorMessage != null}">
            <p class="text-danger n-0 p-0" th:text="${errorMessage}"></p>
        </div>

        <!--
        <div class="mb-3">
            <label class="form-label">Role: </label>
            <select name="type" th:field="*{type}" class="form-select">
                <option value="STUDENT">STUDENT</option>
                <option value="STAFF">STAFF</option>
            </select>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        </div>
        -->

        <!-- TEST -->

        <!--
        <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
        <label class="btn" for="option5">Checked</label>
        -->

        <input class="btn-check" type="radio" name="options-base" autocomplete="off" checked
               id="type-radio-student" value="STUDENT" th:field="*{type}">
        <label class="btn btn-secondary" for="type-radio-student">Student</label>

        <input class="btn-check" type="radio" name="options-base" autocomplete="off"
               id="type-radio-staff" value="STAFF" th:field="*{type}">
        <label class="btn btn-secondary" for="type-radio-staff">Staff</label>
        <hr>
        <!-- ------------------- -->

        <div class="mb-3">
            <label class="form-label">HUA ID: </label>
            <input th:field="*{huaId}" class="form-control" required/>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('huaId')}" th:errors="*{huaId}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">First Name: </label>
            <input th:field="*{firstName}" class="form-control" required/>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Last Name: </label>
            <input th:field="*{lastName}"  class="form-control" required/>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email Address: </label>
            <input th:field="*{emailAddress}" class="form-control" required/>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone Number: </label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">+30</span>
                <input type="text" th:field="*{mobilePhoneNumber}" class="form-control" required/>
                <div class="text-danger small mt-1" th:if="${#fields.hasErrors('mobilePhoneNumber')}" th:errors="*{mobilePhoneNumber}"></div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Password: </label>
            <input type="password" th:field="*{rawPassword}" class="form-control" required/>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></div>
        </div>

        <div class="mb-6">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </form>



    <p class="m-0 p-0">
        <a th:href="@{/login}">Log In</a>
    </p>

</section>

</body>